.button button {
  background: #e2e2e2; /*ボタン色*/
  border-bottom: solid 8px #b1b1b1;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

#team_name {
  font-size: 2vw;
  position: absolute;
  left: 27%;
  top: -2%;
}
#canvas {
  position: absolute;
  top: 15%;
  /* background-color: red; */
  left: 0.6%;
}
#previous {
  position: absolute;
  left: 12%;
  top: 2%;
}
#next {
  position: absolute;
  left: 44%;
  top: 2%;
}
.item {
  display: flex;
  justify-content: center; /* 中央寄せ */
}
#player {
  position: absolute;
  top: 15%;
}
.satonaka {
  position: absolute;
  top: 80%;
}

.pulldown {
  position: absolute;
  top: 2%;
  font-size: 1.5vw;
  /* left: 6%; */
}

.myChart {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 50%;
  height: 60%;
}
.graphbutton {
  position: absolute;
  top: 80%;
  left: 5%;
}
#team_namehere {
  font-size: 1.5vw;
}
